<div class="login-container">
    <!-- Left Section with Image -->
    <div class="image-section">
      <img
        src="../../assets/pexels-pluyar-786003.jpg"
        alt="Background"
        class="zoom-image"
      />
    </div>
  
    <!-- Right Section with Registration Form -->
    <div class="form-section">
      <h1>Create Your Account</h1>
      <p>Fill in the details below to register a new account.</p>
  
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <!-- Username (Email) Field -->
        <div class="form-group">
          <label for="email">Email as Username</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            [class.invalid]="email?.invalid && email?.touched"
          />
          <div *ngIf="email?.invalid && email?.touched" class="error">
            Username is required
          </div>
        </div>
  
        <!-- Password Field -->
        <div class="form-group">
          <label for="password">Password</label>
          <div class="password-wrapper">
            <input
              [type]="showPassword ? 'text' : 'password'"
              id="password"
              formControlName="password"
              [class.invalid]="password?.invalid && password?.touched"
            />
            <i
              class="eye-icon"
              (click)="togglePasswordVisibility()"
              [class.visible]="showPassword"
            >
              👁️
            </i>
          </div>
          <div *ngIf="password?.invalid && password?.touched" class="error">
            Password must be 8 characters long
          </div>
        </div>
  
        <!-- Confirm Password Field -->
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="confirmPassword"
            formControlName="confirmPassword"
            [class.invalid]="
              confirmPassword?.invalid && confirmPassword?.touched
            "
          />
          <div
            *ngIf="
              confirmPassword?.invalid && confirmPassword?.touched ||
              (registerForm.errors?.['passwordMismatch'] && confirmPassword?.touched)
            "
            class="error"
          >
            {{ confirmPasswordError }}
          </div>
        </div>
  
        <!-- Register Button -->
        <button
          type="submit"
          [disabled]="registerForm.invalid"
          class="login-btn"
        >
          Register
        </button>
  
        <p class="register">
          Already have an account? <a routerLink="/login">Login here</a>
        </p>
      </form>
    </div>
  </div>
  